<%= provide(:title, @taxon.name)%>
<%= render 'light_section', taxon_name: @taxon.name %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <div class="panel panel-default">
          <div class="panel-heading">商品カテゴリー</div>
          <div class="panel-body" id="sidebar-category">
            <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
              <ul class="nav navbar-nav side-nav">
                <% @taxonomies.each do |taxonomy| %>
                  <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#taxonomy-<%= taxonomy.id %>"><%= taxonomy.name %><i class="fa fa-plus"></i></a>
                    <ul id="taxonomy-<%= taxonomy.id %>" class="collapse collapseItem">
                      <% taxonomy.leaves.each do |category| %>
                        <li>
                          <%= link_to potepan_category_path(category.id) do %>
                            <i class="fa fa-caret-right" aria-hidden="true"></i><%= category.name %><span>(<%= category.all_products.count %>)</span>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <%= render 'color' %>
        <%= render 'size' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filterArea' %>
        <div class="row">
          <% @products.each do |product| %>
            <div class="col-sm-4 col-xs-12">
              <div class="productBox">
                <%= link_to potepan_product_path(product.id), class: "productsLink" do %>
                  <div class="productImage clearfix">
                    <% if product.images.any? %>
                      <%= image_tag product.images.first.attachment(:large), :alt => "products-img" %>
                    <% end %>
                  </div>
                  <div class="productCaption clearfix">
                    <h5><%= product.name %></h5>
                    <h3><%= product.display_price %></h3>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'shared/logo' %>